<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangwh.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.tangwh.pojo.Menu">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pattern" jdbcType="VARCHAR" property="pattern" />
    <collection property="roles" ofType="com.tangwh.pojo.Role">
      <id column="rid" property="id"/>
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="nameZh" jdbcType="VARCHAR" property="nameZh" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pattern
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tangwh.pojo.Menu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into menu (pattern)
    values (#{pattern,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tangwh.pojo.Menu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pattern != null">
        pattern,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pattern != null">
        #{pattern,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangwh.pojo.Menu">
    <!--@mbg.generated-->
    update menu
    <set>
      <if test="pattern != null">
        pattern = #{pattern,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangwh.pojo.Menu">
    <!--@mbg.generated-->
    update menu
    set pattern = #{pattern,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getAllMenus" resultMap="BaseResultMap">
SELECT m.* ,r.id AS rid,r.name,r.nameZh AS rnameZh FROM `menu` m LEFT JOIN `menu_role` mr ON m.id = mr.mid LEFT JOIN ROLE r ON mr.rid = r.id
    </select>
</mapper>